<ng-container *ngIf="visible">
  <app-contact-list
    [contacts]="contacts"
    (removeContact)="removeContact($event)"
    (editContact)="editContact($event)"
    (selectContact)="selectContact($event)"
  ></app-contact-list>
  <button style="width: 100%;" mat-raised-button color="primary" (click)="toggleModal()" >Nuovo contatto</button>
</ng-container>
<ng-container *ngIf="!visible">
  <button style="width: 100%;" mat-stroked-button (click)="toggleModal()">Indietro</button>
  <app-contact-form (saveContact)="saveHandler($event)" [initialContact]="selectedContact"></app-contact-form>
</ng-container>
